.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.input {
  width: 300px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.inner {
  padding: 20px;
  cursor: pointer;
  background-color: #212121;
  border-radius: 10px;
}

.inner:hover {
  background-color: #0f0f0f;
  transition: ease-in 0.3s;
}

.trackImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.toptrackImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.topresults {
  width: 70%;
}

.resultList {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.topheader {
  font-size: 25px;
  margin-left: 0px;
  font-weight: 600;
  margin-bottom: 20px;
}

.songHeader {
  font-size: 25px;
  margin-left: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.playbtn {
  margin-top: 20px;
}

.spotifyPlayer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.header {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.songList {
  display: flex;
  gap: 20px;
  margin: 10px;
  align-items: center;
  height: 0px;
  cursor: pointer;
  padding: 30px;
}

.songList:hover {
  background-color: #212121;
  display: flex;
  gap: 20px;
  margin: 10px;
  align-items: center;
  height: 0px;
  cursor: pointer;
  padding: 30px;
  border-radius: 10px;
  transition: ease-in 0.2s;
}

.trackName {
  font-size: 17px;
  font-weight: 600;
  width: 150px;
}

.toptrackName {
  font-size: 21px;
  font-weight: 600;
  margin-top: 20px;
}

.topArtistName {
  font-size: 17px;
  font-weight: 400;
}

.trackArtist {
  font-size: 14px;
}
